- referenced_users = local_assigns.fetch(:referenced_users, nil)

- if defined?(@merge_request) && @merge_request.discussion_locked?
  .issuable-note-warning
    = icon('lock', class: 'icon')
    %span
      = _('This merge request is locked.')
      = _('Only project members can comment.')

.md-area
  .md-header
    %ul.nav-links.clearfix
      %li.active
        %a.js-md-write-button{ href: "#md-write-holder", tabindex: -1 }
          编写
      %li
        %a.js-md-preview-button{ href: "#md-preview-holder", tabindex: -1 }
          预览

      %li.pull-right
        .toolbar-group
          = markdown_toolbar_button({ icon: "bold", data: { "md-tag" => "**" }, title: "添加粗体文本" })
          = markdown_toolbar_button({ icon: "italic", data: { "md-tag" => "*" }, title: "添加斜体文本" })
          = markdown_toolbar_button({ icon: "quote", data: { "md-tag" => "> ", "md-prepend" => true }, title: "插入引用" })
          = markdown_toolbar_button({ icon: "code", data: { "md-tag" => "`", "md-block" => "```" }, title: "插入代码" })
          = markdown_toolbar_button({ icon: "list-bulleted", data: { "md-tag" => "* ", "md-prepend" => true }, title: "添加符号列表" })
          = markdown_toolbar_button({ icon: "list-numbered", data: { "md-tag" => "1. ", "md-prepend" => true }, title: "添加编号列表" })
          = markdown_toolbar_button({ icon: "task-done", data: { "md-tag" => "* [ ] ", "md-prepend" => true }, title: "添加任务列表" })
        .toolbar-group
          %button.toolbar-btn.js-zen-enter.has-tooltip{ type: "button", tabindex: -1, aria: { label: "转到全屏" }, title: "转到全屏", data: { container: "body" } }
            = sprite_icon("screen-full")

  .md-write-holder
    = yield
  .md.md-preview-holder.js-md-preview.hide.md-preview{ data: { url: url } }
  .referenced-commands.hide

  - if referenced_users
    .referenced-users.hide
      %span
        = icon("exclamation-triangle")
        您添加了
        %strong
          %span.js-referenced-users-count 0
          人
        到此讨论。请谨慎行事。
