- can_update_merge_request = can?(current_user, :update_merge_request, @merge_request)

- if @merge_request.closed_without_fork?
  .alert.alert-danger
    %p 该合并请求的源项目已被删除。.

.clearfix.detail-page-header
  .issuable-header
    .issuable-status-box.status-box{ class: status_box_class(@merge_request) }
      = icon(@merge_request.state_icon_name, class: "hidden-sm hidden-md hidden-lg")
      %span.hidden-xs
        = @merge_request.state_human_name

    %a.btn.btn-default.pull-right.visible-xs-block.gutter-toggle.issuable-gutter-toggle.js-sidebar-toggle{ href: "#" }
      = icon('angle-double-left')

    .issuable-meta
      - if @merge_request.discussion_locked?
        = icon('lock', class: 'issuable-warning-icon')
      = issuable_meta(@merge_request, @project, "合并请求")

  .issuable-actions.js-issuable-actions
    .clearfix.issue-btn-group.dropdown
      %button.btn.btn-default.pull-left.hidden-md.hidden-lg{ type: "button", data: { toggle: "dropdown" } }
        选项
        = icon('caret-down')
      .dropdown-menu.dropdown-menu-align-right.hidden-lg
        %ul
          - if can_update_merge_request
            %li= link_to '编辑', edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'issuable-edit'
          - unless current_user == @merge_request.author
            %li= link_to '违规举报', new_abuse_report_path(user_id: @merge_request.author.id, ref_url: merge_request_url(@merge_request))
          - if can_update_merge_request
            %li{ class: [merge_request_button_visibility(@merge_request, true), 'js-close-item'] }
              = link_to '关闭', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, title: '关闭合并请求'
            %li{ class: merge_request_button_visibility(@merge_request, false) }
              = link_to '重新打开', merge_request_path(@merge_request, merge_request: { state_event: :reopen }), method: :put, class: 'reopen-mr-link', title: '重新打开合并请求'

      - if can_update_merge_request
        = link_to '编辑', edit_project_merge_request_path(@project, @merge_request), class: "hidden-xs hidden-sm btn btn-grouped issuable-edit"

      = render 'shared/issuable/close_reopen_button', issuable: @merge_request, can_update: can_update_merge_request
